
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#error {
    color: rgb(167, 3, 3);
}

#errors {
    color: rgba(255, 127, 80, 0.938);
}

#newGameBtn {
    background-color: rgba(14, 179, 14, 0.884);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#newGameBtn:hover {
    background-color: rgb(28, 114, 212);
}

#solveBtn {
    background-color: #ec9633;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Dodajte razmak sa dugmetom "Nova igra" */
    border-radius: 5px;
}

#solveBtn:hover {
    background-color: #e55400;
}


#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.horizontal-line2 {
    border-top: 1px solid black;
}

.horizontal-line3 {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

.vertical-line2 {
    border-left: 1px solid black;
}

.vertical-line3 {
    border-right: 1px solid black;
}

